<ul class="ul1">
  <li><a href="/index" class="a1">Home</a></li>
  <li><a href="/categories" class="a1">Categories</a></li>
  <li><a href="#" class="a1">Store</a></li>
  <li><a href="/about" class="a1">About</a></li>
  <li><a href="/contact" class="a1">Contact Us</a></li>
</ul>
