<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav nav-pills nav-justified">
      <li><a href="/signIn">Sign In</a></li>
      <li><a href="/myPosters">My Posters</a></li>
      <li><a href="/mySwaps">My Swaps</a></li>
      <li><a href="#">Cart</a></li>
    </ul>
  </div>
</nav>
